extend layout
block content
  p
    | This is the simple ABOUT PAGE!
  p
    | Amazingly you can make these tiny little HAML like templates
    | and they get updated as new pages from your simple routes!
block sidebar
  .widget
    h1 SideBar
    p
      | Im editing the sidebar to see if it updates.
      | Apparently it does! Which is awesome so just refresh.
    p
      | Even this little text here gets tweaked instantly.
      | This is the way HTML and CSS should work!