extend layout
block content
  p
    | This is the simple CONTACT PAGE!
  p
    | This is the secondary paragraph!
block sidebar
  .widget
    h1 SideBar
    p
      | Im editing the sidebar to see if it updates.
      | Apparently it does! Which is awesome so just refresh.
    p
      | Even this little text here gets tweaked instantly.
      | This is the way HTML and CSS should work!