extend layout
block content
  p
    | The Latin text was pretty annoying because it doesn't say much.
    | What happens when we overrun the text here with a line too long? With too much to say?
    | Apparently it just keeps strechting which is good.
  p
    | Donec congue lacinia dui, a porttitor
    | lectus condimentum laoreet. Nunc eu
    | ullamcorper orci. Quisque eget odio ac
    | lectus vestibulum faucibus eget in metus.
    | In pellentesque faucibus vestibulum. Nulla
    | at nulla justo, eget luctus tortor.
block sidebar
  .widget
    h1 SideBar
    p
      | Im editing the sidebar to see if it updates.
      | Apparently it does! Which is awesome so just refresh.
    p
      | Even this little text here gets tweaked instantly.
      | This is the way HTML and CSS should work!