doctype 5
html
  head
    title #{title} - TJ Marbois
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Mr. Marbois's Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus and using Nib!